/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Background Image */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url('ahmcapital.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh; /* Use min-height instead of fixed height for better mobile handling */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Logo Container */
.logo-container {
    position: relative;
    align-self: flex-start;
    margin: 20px;
}

.logo {
    font-family: Verdana, sans-serif;
    font-size: 2.5rem;
    color: #003366;
    border: 2px solid #003366;
    padding: 10px 20px;
    box-sizing: border-box;
}

.italic {
    font-style: italic;
}

/* Hero Section */
.hero {
    background-color: white;
    font-family: Verdana, sans-serif;
    padding: 20px;
    max-width: 800px;

    border: 1px solid #003366;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 2px;
    padding-right: 20px;

    align-self: flex-end;

    position: relative;
    white-space: nowrap;

    top:200px;
    
    margin-top: auto;
    margin-right: 10px;  /* Moves the hero section to the extreme right within its flex container */
    margin-bottom:200px;
}

.hero h2 {
    font-family: Verdana, sans-serif;
    color: #003366;
    font-size: 1.55rem;
}

/* Contact Information Section */
.contact-info {
    font-family: Verdana, sans-serif;
    font-size: 1.2rem; /* Increased font size by 2 points */
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 1px;
    margin: 1px;
}

.contact-info a {
    font-family: Verdana, sans-serif;
    color: white; /* Make the email link white */
}

/* Legal Notice Section */
.legal-notice {
    font-family: Verdana, sans-serif;
    font-size: 0.7rem;
    text-align: justify;
    color: white;
    margin-bottom: 10px;
    max-width: 100%;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 10px;
}

/* Copyright Section */
.copyright-info {
    font-family: Verdana, sans-serif;
    font-size: 0.8rem; /* Reduced font size */
    text-align: right;
    color: white;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

/* Responsive Adjustments */
@media only screen and (max-width: 768px) {
     /*Adjust Hero Section on smaller screens*/
    .hero {
        max-width: 80%;
        padding: 10px;
    }

    .hero h2 {
        font-size: 1rem;
        white-space: nowrap;
    }

     
    .contact-info {
        font-size: 0.7rem; 
    }

    
    .legal-notice {
        font-size: 0.5rem; 
    }

    
    .copyright-info {
        font-size: 0.6rem;
    }
}
